.fam-posts{
  width: 5em;
  height: 5em;
  align-items: center;
  margin-left: 5em;
  padding: 5px;
  text-align: center;
  margin-top: 5em;
}

.video-frame-size{
  width: 100%;
  height:100%;
  max-height: 600px;
  align-items: center;
  padding: 1px;
  margin: 5px;
}

.PostCard{
  width: 500px;
}


.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none; 
  color: inherit;
  margin: 0 10px;
}

.icon-container svg {
  margin-bottom: 4px; /* Adjust as needed for spacing between icon and count */
}


.popup-container {
  background-color: inherit;
  overflow-y: scroll;
  max-height: 100px;
}

.popup-header {
  background-color: inherit;
  color: aqua;
}



.PostDetailView{
  margin-top: 5em;
  max-width: 67em;
  width: 67em;
  padding: 5px;
  border: 5px solid black;
  margin-bottom: 3em;
}

.detailVideo{
  width: 600px;
  height: 300px;
}

.description{
  width: 100%;
  height: 100%;
  max-height: 600px;
  align-items: center;
  padding: 8px;
  border: 2px solid black;
}

.seeker-info{
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 8px;
  border: 2px solid black;
}


.detail-buttons{
  padding: 5px;
  border: 2px solid black;
  background-color: antiquewhite;
  justify-content: center;
}


.post-documents{
  width: 100%;
  padding: 8px;
  border: 2px solid black;
  margin-bottom: 1em;
}

/* <div className='flex items-center'>
        <p className='ml-4 text-gray-600'>Seeker: {data.seeker}</p>
        <p className='ml-4 text-gray-600'>Need: {data.kind}</p>
        <p className='ml-4 text-gray-600'>From: {data.address}</p>
        <p className='ml-4 text-gray-600'>Satisfied: {data.satisfied} No</p>
        <p className='ml-4 text-gray-600'>verified: {data.verified}%</p>
        <p className='ml-4 text-gray-600'>Without House: {data.without_house}yes</p>
        <p className='ml-4 text-gray-600'>Phone # {data.phone_number}yes</p>
        <p className='ml-auto text-gray-600'>{multiFormatDateString(data.created)}</p>
      </div> */
