@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
@layer base {
  body {
    @apply bg-gray-200 dark:bg-dark-4; /* Set light mode background color */
  }
}

/* Dark mode styles */
@layer utilities {
  .dark-mode {
    @apply dark:bg-dark-3; /* Set dark mode background color */
  }
}

/* Loading icon animation */
.loading-icon {
  animation: rotate 1s linear infinite; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg);
  }
}
